body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.header-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.top-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 50px;
}

.header-links {
    display: flex;
    gap:10px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}


.title-description{
    display: flex;
    width: 300px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.description {
    max-width: 400px;
    font-size: 18px;
    color:#E5E7EB
}


button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}
