body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.header-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    background-color: #1F2937;
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-logo {
    padding-bottom: 50px;
    font-size: 24px;
    color: #F9FAF8;
}


button {
    background-color: #3882F6;
}
